<!DOCTYPE HTML>
<html>
<head>
    <title>PROP TECH</title>
    <link rel=" shortcut icon" href="/img/favicon.ico">
    <link rel="icon" href="/img/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>