<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 text-center">
            <img class="img-profile rounded-circle" style="width:200px;" src="{{info.profileImg}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-center" style="float: none; margin: 0 auto;">
                <hr>
                <h3> 사용자 정보</h3>
                <table class="table">

                    <tbody>
                    <tr>
                        <th scope="row"><b>ID : </b></th>
                        <td> {{info.userName}} </td>
                    </tr>

                    <tr>
                        <th scope="row"><b>이름 : </b></th>
                        <td> {{info.ceoName}} </td>
                    </tr>

                    {{#isCompany}}
                        <tr>
                            <th scope="row"><b>대표 명 : </b></th>
                            <td> {{info.name}} </td>
                        </tr>
                        <tr>
                            <th scope="row"><b>사업자번호 : </b></th>
                            <td> {{info.bizNum}} </td>
                        </tr>

                    {{/isCompany}}

                    <tr>
                        <th scope="row"><b>이메일 : </b></th>
                        <td> {{info.email}} </td>
                    </tr>
                    <tr>
                        <th scope="row"><b>전화번호 : </b></th>
                        <td> {{info.phoneNumber}} </td>
                    </tr>

                    <tr>
                        <th scope="row"><b>등록일 : </b></th>
                        <td> {{info.registerDate}} </td>
                    </tr>

                    <tr>
                        <th scope="row"><b>권한 : </b></th>
                        <td> {{info.role}} </td>
                    </tr>
                    <tr>
                        <th scope="row"><b>상태 : </b></th>
                        <td> {{info.state}} </td>
                    </tr>
                    <tr>
                        <th scope="row"><b>탈퇴일 : </b></th>
                        <td> {{info.retiredDate}} </td>
                    </tr>

                    </tbody>
                </table>
            </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-center" style="float: none; margin: 0 auto;">
            <hr>
            <h3> 등록 계좌 정보</h3>

            <table class="table">
                <thead>
                <th>은행명 </th>
                <th>계좌번호 </th>
                <th>상태 </th>
                </thead>

                <tbody>
                {{#accountList}}
                    <tr>
                        <td>{{bankName}} </td>
                        <td>{{account}} </td>
                        <td>{{accountState}} </td>
                    </tr>
                {{/accountList}}
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-center" style="float: none; margin: 0 auto;">
            <hr>
            <h3> 최근 로그인 시간</h3>
            <table class="table">
                <thead>
                <th>로그인 일자 </th>
                <th>상태 </th>
                </thead>

                <tbody>
                {{#historyList}}
                    <tr>
                        <td>{{loginDate}} </td>
                        <td>{{isLogin}} </td>
                    </tr>
                {{/historyList}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-center" style="float: none; margin: 0 auto;">
            <hr>
            <h3> 로그인 IP</h3>

            <table class="table">
                <thead>
                <th>로그인 IP </th>
                <th>상태 </th>
                </thead>

                <tbody>
                {{#ipList}}
                    <tr>
                        <td>{{ip}} </td>
                        <td>{{isActive}} </td>
                    </tr>
                {{/ipList}}
                </tbody>
            </table>
        </div>
    </div>
</div>
