{{>layout/header}}

{{>layout/nav}}

<div class="container-fluid">
    <div class ="row">

        {{>layout/navSide}}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <section>
                <h2> {{message}} </h2>
            </section>
        </div>

    </div>
</div>

{{>layout/footer}}
