
<div class="card-body pt-0">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    {{#c0}}
                        <th>Name</th>
                    {{/c0}}
                    {{#c1}}
                        <th>Round</th>
                    {{/c1}}
                    {{#c2}}
                        <th>Register</th>
                    {{/c2}}
                    {{#c3}}
                        <th>End Expect Date</th>
                    {{/c3}}
                    {{#c4}}
                        <th>End Real Date</th>
                    {{/c4}}
                    {{#c5}}
                        <th>Fee(%)</th>
                    {{/c5}}
                    {{#c6}}
                        <th>Modified</th>
                    {{/c6}}
                    {{#c7}}
                        <th>City</th>
                    {{/c7}}
                    {{#c8}}
                        <th>State</th>
                    {{/c8}}
                    {{#c9}}
                        <th>Address</th>
                    {{/c9}}
                </tr>
            </thead>

            <tbody>
            {{#pages.contents}}
                <tr>
                {{#c0}}
                    <td>{{name}}</td>
                {{/c0}}
                {{#c1}}
                    <td>{{round}}</td>
                {{/c1}}
                {{#c2}}
                    <td>{{registerDate}}</td>
                {{/c2}}
                {{#c3}}
                    <td>{{expectDate}}</td>
                {{/c3}}
                {{#c4}}
                    <td>{{realDate}}</td>
                {{/c4}}
                {{#c5}}
                    <td>{{feeRatio}}</td>
                {{/c5}}
                {{#c6}}
                    <td>{{modifiedDate}}</td>
                {{/c6}}
                {{#c7}}
                    <td>{{city}}</td>
                {{/c7}}
                {{#c8}}
                    <td>{{state}}</td>
                {{/c8}}
                {{#c9}}
                    <td>{{address}}</td>
                {{/c9}}
                </tr>
            {{/pages.contents}}
            </tbody>
        </table>
    </div>
</div>
