
<div class="card-body pt-0">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Round</th>
                    <th>Fee(%)</th>
                    <th>End Expect Date</th>
                    <th>End Real Date</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Address</th>
                </tr>
            </thead>

            <tbody>
            {{#pages.contents}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{associateState}}</td>
                    <td>{{operateFeeRatio}}</td>
                    <td>{{endExpectDate}}</td>
                    <td>{{endRealDate}}</td>
                    <td>{{city}}</td>
                    <td>{{state}}</td>
                    <td>{{address}}</td>
                </tr>
            {{/pages.contents}}
            </tbody>
        </table>
    </div>
</div>
