<div class="card-body pt-0">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                {{#c0}}
                    <th>Name</th>
                {{/c0}}
                {{#c1}}
                    <th>Email</th>
                {{/c1}}
                {{#c2}}
                    <th>PhoneNumber</th>
                {{/c2}}
                {{#c3}}
                    <th>Provider</th>
                {{/c3}}
                {{#c4}}
                    <th>Role</th>
                {{/c4}}
                {{#c5}}
                    <th>State</th>
                {{/c5}}
                {{#c6}}
                    <th>Reg Date</th>
                {{/c6}}
                {{#c7}}
                    <th>Last Login Date</th>
                {{/c7}}
                {{#c8}}
                    <th>Retire Date</th>
                {{/c8}}
            </tr>
            </thead>

            <tbody>
                {{#pages.contents}}
                    <tr>
                        {{#c0}}
                        <td>{{name}}</td>
                        {{/c0}}
                        {{#c1}}
                            <td>{{email}}</td>
                        {{/c1}}
                        {{#c2}}
                            <td>{{phoneNumber}}</td>
                        {{/c2}}
                        {{#c3}}
                            <td>{{provider}}</td>
                        {{/c3}}
                        {{#c4}}
                            <td>{{role}}</td>
                        {{/c4}}
                        {{#c5}}
                            <td>{{state}}</td>
                        {{/c5}}
                        {{#c6}}
                            <td>{{registerDate}}</td>
                        {{/c6}}
                        {{#c7}}
                            <td>{{lastLoginDate}}</td>
                        {{/c7}}
                        {{#c8}}
                            <td>{{retiredDate}}</td>
                        {{/c8}}
                    </tr>
                {{/pages.contents}}
            </tbody>
        </table>
    </div>
</div>